In [13]:
from abc import ABC, abstractmethod





class Product(ABC):
    category = 'Product'
    @abstractmethod
    def __init__ (self, item_id, price, quantity):
        pass
    def get_info(self):
        pass
    def get_category(self):
        pass

class Book(Product):
    category = 'Book'
    def __init__ (self,item_id, title, price, quantity):
        self.price = price
        self.item_id = item_id
        self.quantity = quantity
        self.title = title
        self.__author = None
    def get_info(self):
        return f"|{self.category} |\t{self.item_id}|\t{self.title}|\t{self.price}|\t{self.quantity}|\t{self.__author}|"
    def set_author(self, author):
        self.__author = author
    def get_category(self):
        return f"Category: {self.category}"

                


class Movie(Product):
    category = 'Movie'
    def __init__ (self, item_id, title, price,quantity):
        self.price = price
        self.item_id = item_id
        self.quantity = quantity
        self.title = title
        self.__genre = None
        self.__year = None
    def get_info(self):
        return f"|{self.category}|\t{self.item_id}|\t{self.title}|\t{self.price}|\t{self.quantity}|\t{self.__year}|\t{self.__genre}|"     
    def get_category(self):
        return f"Category: {self.category}"
    def set_genre(self, genre):
        self.__genre = genre
    def set_year(self, year):
        self.__year = year
#     def lngth():
#         longest = 0
#         for item in self.__list:
#             if longest < len(item):
#                 longest = len(item)+1
#         for item in self.__list:
#             return item.rjust(longest)
    
    
class Inventory():
    def __init__ (self):
        self.__list = []
    def add_item (self, item):
        self.__list.append(item)
    def show_inventory(self):
        msg = ""
        index = 1
        for item in self.__list:
            msg += str(index) + ". "  + item.get_info() + "\n"
            index += 1 
        return msg




        
# book1 = Book(2190, "The Sun Also Rises", 12,100)

# movie1 = Movie(2102, "Alien", 23, 234)

# inventory_list = Inventory()

# inventory_list.add_item(book1)
# inventory_list.add_item(movie1)

# print(inventory_list.show_inventory())

In [14]:
import pandas as pd 

#i realized halfway through doing this with pandas that we were probably supposed to use SQL... 
#but I was past the point of no return by then 


#import csv file as a dataframe, give it titles to reflect the weird mix of column data
df = pd.read_csv("productlist.csv", header = None, names = ["Category",'Item_ID', 'Title', 'Movie Genre/Book Author','Movie Year/Book Price','Movie Price/Book Quantity', 'Movie Quantity'])

df.head()

#drop the product unique values that won't go into the inventory
df.drop(columns='Movie Genre/Book Author', inplace=True)


#move the movie prices into the year column so that they match up
df.loc[df.Category == "MOVIE", "Movie Year/Book Price"] = df['Movie Price/Book Quantity']

#move the movie quantity into the same column the book quantity is in
df.loc[df.Category == "MOVIE", "Movie Price/Book Quantity"] = df['Movie Quantity']

#drop the last column
df.drop(columns='Movie Quantity', inplace=True)

#rename the columns 
df.columns = ['Category','Item_ID','Title','Price','Quantity']


df.head()

  Category   Item_ID                      Title  Price  Quantity
0    MOVIE   PROD011   The Hunt for Red October  11.99       8.0
1     BOOK   PROD001           The Rainbow Fish  12.99      30.0
2     BOOK   PROD101              Sesame Street   2.99      99.0
3    MOVIE   PROD991          Fish Called Wanda   4.99      12.0
4     BOOK   PROD021                     Python  19.99       1.0

In [15]:
#create new empty inventory list
inventory_list = Inventory()

#create new data frame with just the movie values
df2 = df.where(df['Category'] == 'MOVIE')
#drop empty columns
df2.dropna(inplace=True)
#turn the dataframe into a list
movielist = df2.values.tolist()

#iterate over the movie list to append to the inventory list
for i in movielist:
    m =  Movie(i[1], i[2], i[3],i[4])
    inventory_list.add_item(m)

    
#now do the same with the books 
df3 = df.where(df['Category'] == 'BOOK')
df3.dropna(inplace=True)
booklist = df3.values.tolist()

for i in booklist:
    b =  Book(i[1], i[2], i[3],i[4])
    inventory_list.add_item(b)


#print(inventory_list.show_inventory())

In [ ]:
def menu():
    print("MENU (Please enter one of the options below)\n")
    print("1. Show all products")
    print("2. Add a product")
    print("3. Update a product")
    print("4. Delete a product")
    print("5. Exit")
    
again = True

while again:
    menu()
    try:
        choice = input("Enter your choice: ")
        choice = int(choice)
    except:
        print("please select again")
    
    if choice == 1:
        print(inventory_list.show_inventory())
    
    if choice == 2:
        #need to break this out by book or movie, and then ask for specific things 
        itemtype = input("Is this a Book (1) or a Movie (2): ")
        itemtype = int(itemtype)
            
        if itemtype == 1:
            price = input("What is the price: ")
            price = int(price)
            item_id = input("What is the item id: ")
            quantity = input("What is the quantity: ")
            quantity = int(quantity)
            #author = input("Who is the author: ")
            title = input("What is the title: ")
            book = Book(item_id,title, price, quantity, )
            inventory_list.add_item(book)
            print (inventory_list.show_inventory())
                          
        if itemtype == 2: 
            price = input("What is the price: ")
            price = int(price)
            item_id = input("What is the item id: ")
            quantity = input("What is the quantity: ")
            quantity = int(quantity)
            title = input("What is the title: ")
            #genre = input("What is the genre: ")
            #year = input("When was it made: ")
            movie = Movie(price, item_id, quantity, title)
            inventory_list.add_item(movie)
            print(inventory_list.show_inventory())
    
    if choice == 3:
        pass
    if choice == 4:
        pass
    elif choice == 5:
        again = False
    else:
        continue

MENU (Please enter one of the options below)

1. Show all products
2. Add a product
3. Update a product
4. Delete a product
5. Exit
Enter your choice: 1
1. |Movie|	 PROD011|	 The Hunt for Red October|	11.99|	8.0|	None|	None|
2. |Movie|	 PROD991|	 Fish Called Wanda|	4.99|	12.0|	None|	None|
3. |Book |	 PROD001|	 The Rainbow Fish|	12.99|	30.0|	None|
4. |Book |	 PROD101|	 Sesame Street|	2.99|	99.0|	None|
5. |Book |	 PROD021|	 Python|	19.99|	1.0|	None|

MENU (Please enter one of the options below)

1. Show all products
2. Add a product
3. Update a product
4. Delete a product
5. Exit